h1{
	font-family: Arial,sans-serif;
	font-weight: bold;
	width: 
}

body{
	background: linear-gradient(to bottom, slategray, cornflowerblue, blueviolet);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 30px,
	font-family:"Times new roman", serif;
}

p{
	font-size: 20px;
	letter-spacing: 1.5px;
	max-width: 900px;
}

.stand-alone{
	display: block;
}

.below-img{
	display: block;
}
	
/*unvisited link*/
a:link{
    color:darkblue;
}

/*Visited link */
a:visited{
    color:white;
}

/*mouse over link*/
a:hover{
    color:green;
}

/*selected link */
a:active{
    color:forestgreen;
}
