/* Kristina Maher
May 6 2025 */

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Tablets and up */
@media (min-width: 641px) {
  main {
    width: 70%;  /* a bit wider on tablets */
  }
}

/* Desktops and up */
@media (min-width: 1024px) {
  main {
    width: 60%; /* narrower on larger screens for better readability */
  }
}
form{
    width: 80%;
	margin: 0 auto;
}
input{
    font-size: 1.5rem;
    padding: 5px;
    transition: all 1s ease-out;
}
input:focus{
    font-size: 2rem;
    padding: 10px;
}
div {
    margin: 10px;
}

label {
    margin-right: 15px;
    width: 150px;
    display: inline-block;
}
#compName{
    width: 400px;
}
#personContact{
    width: 300px;
}
