.projectExamples {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.projectBox {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin: 10px;
    text-align: center;
    width: 30%;
}
.projectBox h3{
    background:#029ee6c2; 
    color: #FFFFFF;
    padding: 15px;
}
div.projectBox:nth-of-type(2) h3,div.projectBox:nth-of-type(2) a.button {
    background:rgb(0, 0, 139);
}
.projectBox img {
    margin-bottom: 20px;
}
.projectBox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    background: #029ee6c2;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
}
footer{
    align-content: flex-end;
}