/*Kristina Maher
May 6 2025 */
table {
    border: 2px solid black;
    border: "1";
    background-color:#4CC7FF ;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 20px;
    }
    caption{
        color: black;
        font-size: 24px
    }
    thead{
        background-color:#42E1FF;
    }
    tr:nth-child(even){
        background-color:#5592FF;
    }